.projects
  padding-top: 6rem  /* Adjust the value as needed */
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  

  .project
    display: flex
    flex-direction: column
    align-items: center  /* Center contents horizontally */
    width: calc(50% - 1rem)  /* Adjust as needed */
    margin-bottom: 2rem

    img
      max-width: 100%
      height: auto
      width: 96%  /* Adjust to make images slightly smaller */
      margin-bottom: 1rem
      border: 2px solid #000080
      max-height: 300px


    .project-description
      padding-left: 1rem
      h3
        font-size: 1.5rem
        margin-bottom: 1rem
        text-align: center

      p
        font-size: 1rem
