<section class="about-container">
    <div class="overlay">
        <div class="about-content">
            <div class="image-description-container">
                <div class="image-container">
                    <img src="assets/Me_v2.png" alt="Your Picture">
                </div>
                <div class="description-container">
                    <p>Software Developer with a strong foundation in both front-end and back-end development. With a proven track record of working both independently and collaboratively, I am committed to delivering high-quality software solutions that exceed user expectations and drive business success. Looking for an opportunity to apply my expertise and passion for technology to make a meaningful impact within a growing organization.</p>
                </div>
            </div>
        </div>
    </div>
</section>