<section class="about-container">
    <div class="overlay">
        <div class="about-content">
            <div class="image-description-container">
                <div class="image-container">
                    <img src="assets/Me_v2.png" alt="Your Picture">
                </div>
                <div class="description-container">
                    <p>Your description goes here...dfjng wst wpoe we nwien sef wnef iw foweofm E wenw woe EW woer WOER WE wefw  </p>
                </div>
            </div>
        </div>
    </div>
</section>